body {
  position:relative;
  margin: 0 auto;
  font-size: 100%;
}

#wrapper {
  margin: 0 auto;
}

#content {
  width: 60%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 500px) {
  #content {
    width: 90%;
  }
}

a {
  color: rgb(104, 48, 148);
  cursor: pointer;
}

a:hover {
  color: rgb(160, 80, 222);
  text-decoration: underline;
}
